<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <meta charset="UTF-8">
    <title>工作助手</title>
</head>
<body>
    <div class="column side">
        <div>
            <p>zuo</p>
        </div>
    </div>

    <div class="column middle">
        <div>
             {% block title %}
                  <p  class="backgound-color：green">1</p>
             {% endblock %}
        </div>

        <div>
             {% block content %}
                  <p class="">2</p>
             {% endblock %}

             {% block mark %}
                  <p class=""></p>
              {% endblock %}
        </div>

        <div>
            {% block link %}
            <p class="">4</p>
            {% endblock %}
        </div>
    </div>
    <div class="column side">
          <div>
            <p>you</p>
        </div>
    </div>


</body>
</html>