<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>编辑页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h1> 编辑页</h1>
        {%from "macros.html" import form_field%}
            <form method = "post">
                {{form.csrf_token}}
                {{form_field(form.subject)}}<br>
                {{form_field(form.keyword1)}}<br>
                {{form_field(form.keyword2)}}<br>
                {{form_field(form.text,rows=5,cols=50)}}<br>
                {{form_field(form.update)}}<br>
            </form>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('recordform') }}">recordform</a>
            </li> 
        </ul> 
    </nav>
    <nav>
            <ul>
                <li>
                    <a href="{{ url_for('showform') }}">showform</a>
                </li> 
            </ul> 
        </nav>
</body>
</html>