<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>记录页</title>
</head>
<body>
<h1>记录页</h1>
    <div>
        {%from "macros.html" import form_field%}
             <form method = "post">
        {{form.csrf_token}}
        {{form_field(form.subject)}}<br>

        {{form_field(form.keyword1)}}<br>

        {{form_field(form.keyword2)}}<br>
        {{form_field(form.text,rows=5,cols=50)}}<br>

        {{form_field(form.submit)}}<br>
    </div>


    </form>
    <nav>
            <ul>
                <li>
                    <a href="{{ url_for('recordform') }}">recordform</a>
                </li> 
            </ul> 
        </nav>
        <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('showform') }}">showform</a>
                    </li> 
                </ul> 
            </nav>
</body>
</html>