{% extends 'base.html' %}
{% from 'macros.html' import form_field %}

{% block title %}
    <h1 class="back">记   录   页</h1>
{% endblock %}

{% block content %}
    <div class="alignleft">
        {%from "macros.html" import form_field%}
             <form method = "post">
        {{form.csrf_token}}
        {{form_field(form.subject,class_="formtitle")}}<br>
        {{form_field(form.keyword1,class_="formtitle")}}<br>
        {{form_field(form.keyword2,class_="formtitle")}}<br>
        {{form_field(form.text,class_="formtext")}}<br>
        {{form_field(form.submit)}}<br>
         </form>
    </div>
 {% endblock %}
{% block link %}
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('recordform') }}">recordform&#8629;</a>
            </li>
            <li>
                <a href="{{ url_for('showform') }}">showform&#8629;</a>
            </li>
        </ul>
    </nav>
{% endblock %}
</body>
</html>