<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h1>工作情况</h>
    {%for note in notes%}
	 <div class="center">
            <a href="{{ url_for('editform',note_id=note.id)}}">{{note.subject}}</a><br>
            <a href="{{ url_for('editform',note_id=note.id)}}">{{note.text}}</a><br>
            {%from "macros.html" import form_field%}
                 <form method = "post" action="{{url_for("deleteform", note_id=note.id)}}"}>
                      {{form.csrf_token}}
                      {{form_field(form.delete)}}<br>
                 </form>
        </div> 
    {%endfor%}

    <nav>
        <ul>
            <li>
                <a href="{{ url_for('recordform') }}">recordform</a>
            </li> 
        </ul> 
    </nav>
    <nav>
            <ul>
                <li>
                    <a href="{{ url_for('showform') }}">showform</a>
                </li> 
            </ul> 
        </nav>
</body>
</html>