{% extends 'base.html' %}
{% from 'macros.html' import form_field %}

{% block title %}
    <h1 class="back">工 作 情 况</h1>
{% endblock %}

{% block content %}
     {%for note in notes%}
	     <div class="alignleft">
                 <a class="a" href="{{ url_for("editform",note_id=note.id)}}">
                     <span class="button">主题:</span>
                     <span class="keyword">{{note.subject}}</span>
                     <span class="button">关键词:</span>
                     <span class="keyword">{{note.keyword1}}</span>
                     <span class="button">时间:</span>
                     <span class="keyword">{{note.keyword2}}</span>
                 </a><br>
                     <p class="text"><a class="content" href="{{ url_for("editform",note_id=note.id)}}">内容:{{note.text}}</a></p>
                 <form method = "post" action="{{url_for("deleteform", note_id=note.id)}}"}>
                     <a class="a" href="{{ url_for('editform',note_id=note.id)}}">
                         <small class="button1">编辑</small>
                     </a>{{form.csrf_token}}
                     {{form.delete}}<br>
                 </form>
             </div> 
    {%endfor%}
  {% endblock %}

{% block link %}
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('recordform') }}">recordform&#8629;</a>
            </li>
            <li>
                <a href="{{ url_for('showform') }}">showform&#8629;</a>
            </li>
        </ul>
    </nav>
{% endblock %}