.column {
  float: left;
}

/* 左右两侧宽度 */
.column.side {
  width:25%;
  }

/* 中间区域宽度 */
.column.middle {
  width: 50%;
}

/* 标题颜色 */
.head {
    color:#ffffff;
    font-size:50px;
    font-family:"黑体";
    text-align:center;
    margin-top:50px;
    margin-bottom:30px;
    background-color:#455A64;
    padding:20px;
    border-radius:4px;
    }

a.key:link {
    text-decoration:none;
    color:#CFD8DC;
    font-family:"Microsoft YaHei";
    font-size:18px;
    magrin-left:50px;
    margin-right:20px;
    padding-bottom:8px；
    text-decoration:none;
    letter-spacing:2px;
    }

a.key:visited {
    text-decoration:none;
    color:#CFD8DC;
    }

a.key:hover {
    text-decoration:none;
    color:#ffffff;
    }

a.key:active {
    text-decoration:none;
    color:#ffffff;
    }


a.content:link {
    text-decoration:none;
    color:#000000;
    }

a.content:visited {
    text-decoration:none;
    color:#000000;
    }

a.content:hover {
    text-decoration:none;
    color:#999999;
    }

a.content:active {
    text-decoration:none;
    color:#999999;
    }

a.edit:link {
    text-decoration:none;
    color:#ffffff;
    font-family:"楷体";
    font-size:18px;
    background-color:#009688;
    border-radius:2px;

    }

a.edit:visited {
    text-decoration:none;
    color:#ffffff;
    }

a.edit:hover {
    text-decoration:none;
    color:#ffffff;
    }

a.edit:active {
    text-decoration:none;
    color:#ffffff;
    }

a.bottom:link {
    text-decoration:none;
    color:#000000;
    font-family:"Microsoft YaHei";
    font-size:14px;
    magrin-left:50px;
    margin-right:20px;
    padding-bottom:8px；
    text-decoration:none;
    }

a.bottom:visited {
    text-decoration:none;
   color:#000000;
    }

a.bottom:hover {
    text-decoration:none;
   color:#000000;
    }

a.bottom:active {
    text-decoration:none;
    color:#000000;
    }


.alignleft {
    text-align:left;
    border:10px,solid,red;
    background-color:#607D8B;
    text-decoration:none;
    border-radius:8px;
    margin-bottom:20px;
    padding-top:10px;
    padding-left:15px;
    padding-right:12px;
    padding-bottom:10px;
    
    }

.button {
    color:#000000;
    font-family:"Microsoft YaHei";
    font-size:20px;
    padding-bottom:8px；
    letter-spacing:2px;
    }


.text {
    color:#000000；
    magrin-top:100px;
    margin-right:10px;
    padding-bottom:10px;
    padding-top:10px;
    font-size:18px;
    line-height:200%;
    border-radius:5px;
    margin-top:5px;
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    background-color:#ffffff;
 
    }

.button1{
    color:#ffffff;
    border-radius:3px;
    border:2px solid #FFFFFF;
    background-color:#009688;
    text-align:center;
    text-decoration:none;
    font-family:"楷体";
    margin-left:20px;
    margin-right:20px;
    }




input[type=text],select {
    width:50%;
    padding:12px 20px;
    margin:8px 0;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:6px;
    box-sizing:border-box;
    text-align:center;
    }

input[type=save] {
    width：50%；
    background-color:#4CAF50；
    color:white;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    border-radius:4px;
    cursor:pointer;
    }

.aligncenter {
    text-align:center;
    }


.tex {
    font-size:100px;
    color:#1267df;
    tex-align:center;
    }

.body {
    background-color: #DDDDDD;
    border-color:red;
    outline-color:outline:green dotted thick;
    margin:10px;
    padding: 10px;
    height=150px;
   }
.p{
    text-align:center;
    background-color:green;
    color：red;
}


.div {
    text-align:left;
     }

.formtitle {
    text—align:center;
    }

.formtext {
    text-align:center;
    }

b {
    font-size:20px;
    color:black;
    }


.marginright {
    margin-right:10px;
    }

li {
    color:green;
    }